{% extends 'base.html.twig' %}

{% block title %}
    {{ ad.title }}
{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
        <div class="w-75">
            <h1>{{ ad.title }}</h1>
            <h2 class="my-3">Categorie : {{ ad.category.name }}</h2>
            <hr>
            <p>par {{ ad.author.firstName }} {{ ad.author.lastName | upper }}<br>
                {{ ad.zipCode }} {{ ad.city }}
            </p>
            <p class="bg-white p-3">{{ ad.text }}</p>
            <div>
                {% if app.user.email == ad.author.email %}
                    <a class="btn btn-primary" href="#">Modifier</a>
                    <a class="btn btn-danger mx-3" href="#">Annuler</a>
                    <a class="btn btn-success" href="#">Clôturer</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

