{% extends 'base.html.twig' %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    <h1>Liste des petites annonces</h1>
    <form method="GET" action="{{ path('ad_search') }}">
        <label>Recherchez l'annonce de vos rêves !</label>
        <input id="research" name="research" placeholder="Votre recherche...">
    </form>
    <div class="row d-flex justify-content-center">
        {% for ad in adList %}
            {% if ad.status.name == "en cours" %}
                <div class="col-2 p-3 m-3 bg-white">
                    <h3>{{ ad.title }}</h3>
                    <hr>
                    <h4 class="my-3">{{ ad.category.name }}</h4>
                    <p>par {{ ad.author.firstName }} {{ ad.author.lastName | upper }}<br>
                        {{ ad.zipCode }} {{ ad.city }}
                    </p>
                    <hr>
                    <p>{{ ad.text | slice(0, 40) }}...</p>
                    <a href="#">en savoir plus</a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}